<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-12 text-center">
      <span class="display-1 d-block">404</span>
      <div class="mb-4 lead">La página que buscas no existe.</div>
      <a href="/" class="btn btn-link">Vuelve al Home</a>
    </div>
  </div>
</div>
