<div class="container mt-4">
  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">{{question.title}}</h4>
    <p>{{question.description}}</p>
    <p class="mb-0">Creada por <strong>{{question.owner.name}}</strong></p>
  </div>
</div>
